<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lizard_m_hit(0)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,-1.5}</string>
                <key>spriteSize</key>
                <string>{16,21}</string>
                <key>spriteSourceSize</key>
                <string>{16,28}</string>
                <key>textureRect</key>
                <string>{{55,1},{16,21}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>16 26 0 26 0 5 16 5</string>
                <key>verticesUV</key>
                <string>71 22 55 22 55 1 71 1</string>
            </dict>
            <key>lizard_m_idle(0)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{16,20}</string>
                <key>spriteSourceSize</key>
                <string>{16,28}</string>
                <key>textureRect</key>
                <string>{{91,1},{16,20}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>16 28 0 28 0 8 16 8</string>
                <key>verticesUV</key>
                <string>107 21 91 21 91 1 107 1</string>
            </dict>
            <key>lizard_m_idle(1)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{16,24}</string>
                <key>spriteSourceSize</key>
                <string>{16,28}</string>
                <key>textureRect</key>
                <string>{{1,1},{16,24}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 1 2 0 2 3 0 3 4</string>
                <key>vertices</key>
                <string>16 12 16 28 2 28 0 26 0 4</string>
                <key>verticesUV</key>
                <string>17 9 17 25 3 25 1 23 1 1</string>
            </dict>
            <key>lizard_m_idle(2)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,-5.5}</string>
                <key>spriteSize</key>
                <string>{16,17}</string>
                <key>spriteSourceSize</key>
                <string>{16,28}</string>
                <key>textureRect</key>
                <string>{{145,1},{16,17}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>16 28 0 28 0 11 16 11</string>
                <key>verticesUV</key>
                <string>161 18 145 18 145 1 161 1</string>
            </dict>
            <key>lizard_m_idle(3)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,-4.5}</string>
                <key>spriteSize</key>
                <string>{16,19}</string>
                <key>spriteSourceSize</key>
                <string>{16,28}</string>
                <key>textureRect</key>
                <string>{{109,1},{16,19}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>16 28 0 28 0 9 16 9</string>
                <key>verticesUV</key>
                <string>125 20 109 20 109 1 125 1</string>
            </dict>
            <key>lizard_m_run(0)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{16,20}</string>
                <key>spriteSourceSize</key>
                <string>{16,28}</string>
                <key>textureRect</key>
                <string>{{73,1},{16,20}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>16 28 0 28 0 8 16 8</string>
                <key>verticesUV</key>
                <string>89 21 73 21 73 1 89 1</string>
            </dict>
            <key>lizard_m_run(1)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,-2.5}</string>
                <key>spriteSize</key>
                <string>{16,21}</string>
                <key>spriteSourceSize</key>
                <string>{16,28}</string>
                <key>textureRect</key>
                <string>{{37,1},{16,21}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>16 27 0 27 0 6 16 6</string>
                <key>verticesUV</key>
                <string>53 22 37 22 37 1 53 1</string>
            </dict>
            <key>lizard_m_run(2)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,-3.5}</string>
                <key>spriteSize</key>
                <string>{16,21}</string>
                <key>spriteSourceSize</key>
                <string>{16,28}</string>
                <key>textureRect</key>
                <string>{{19,1},{16,21}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>16 28 0 28 0 7 16 7</string>
                <key>verticesUV</key>
                <string>35 22 19 22 19 1 35 1</string>
            </dict>
            <key>lizard_m_run(3)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{16,18}</string>
                <key>spriteSourceSize</key>
                <string>{16,28}</string>
                <key>textureRect</key>
                <string>{{127,1},{16,18}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>16 28 0 28 0 10 16 10</string>
                <key>verticesUV</key>
                <string>143 19 127 19 127 1 143 1</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lizard_m.png</string>
            <key>size</key>
            <string>{162,26}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4bd92880f3e66ecbb8c76ad5cd5ce25:bf58466ac046f284be31b108785d75d5:dfa394637f1c87fd1032a2625270ff02$</string>
            <key>textureFileName</key>
            <string>lizard_m.png</string>
        </dict>
    </dict>
</plist>
