<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>floor_spikes_anim_f0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{19,19},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>16 16 0 16 0 0 16 0</string>
                <key>verticesUV</key>
                <string>35 35 19 35 19 19 35 19</string>
            </dict>
            <key>floor_spikes_anim_f1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{1,19},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>16 16 0 16 0 0 16 0</string>
                <key>verticesUV</key>
                <string>17 35 1 35 1 19 17 19</string>
            </dict>
            <key>floor_spikes_anim_f2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{19,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>16 16 0 16 0 0 16 0</string>
                <key>verticesUV</key>
                <string>35 17 19 17 19 1 35 1</string>
            </dict>
            <key>floor_spikes_anim_f3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{1,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>16 16 0 16 0 0 16 0</string>
                <key>verticesUV</key>
                <string>17 17 1 17 1 1 17 1</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SpikeTrap.png</string>
            <key>size</key>
            <string>{36,36}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e5e40516f16fbd893686e37b7160252:c0fedaa3dbec4dde1e0696358cee389c:2033883035f4aee1fc4e612f6128f365$</string>
            <key>textureFileName</key>
            <string>SpikeTrap.png</string>
        </dict>
    </dict>
</plist>
