<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tiny_zombie_idle_anim_f0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0.5,-2.5}</string>
                <key>spriteSize</key>
                <string>{11,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{14,15},{11,11}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>14 16 3 16 3 5 14 5</string>
                <key>verticesUV</key>
                <string>25 26 14 26 14 15 25 15</string>
            </dict>
            <key>tiny_zombie_idle_anim_f1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0.5,-3}</string>
                <key>spriteSize</key>
                <string>{11,10}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{27,15},{11,10}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>14 16 3 16 3 6 14 6</string>
                <key>verticesUV</key>
                <string>38 25 27 25 27 15 38 15</string>
            </dict>
            <key>tiny_zombie_idle_anim_f2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0.5,-3.5}</string>
                <key>spriteSize</key>
                <string>{11,9}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{42,1},{11,9}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>14 16 3 16 3 7 14 7</string>
                <key>verticesUV</key>
                <string>53 10 42 10 42 1 53 1</string>
            </dict>
            <key>tiny_zombie_idle_anim_f3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0.5,-3}</string>
                <key>spriteSize</key>
                <string>{11,10}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{27,15},{11,10}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>14 16 3 16 3 6 14 6</string>
                <key>verticesUV</key>
                <string>38 25 27 25 27 15 38 15</string>
            </dict>
            <key>tiny_zombie_run_anim_f0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0.5,-2}</string>
                <key>spriteSize</key>
                <string>{11,12}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{16,1},{11,12}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>14 16 3 16 3 4 14 4</string>
                <key>verticesUV</key>
                <string>27 13 16 13 16 1 27 1</string>
            </dict>
            <key>tiny_zombie_run_anim_f1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0.5,-1}</string>
                <key>spriteSize</key>
                <string>{13,12}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{1,1},{13,12}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>15 15 2 15 2 3 15 3</string>
                <key>verticesUV</key>
                <string>14 13 1 13 1 1 14 1</string>
            </dict>
            <key>tiny_zombie_run_anim_f2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0.5,-2}</string>
                <key>spriteSize</key>
                <string>{11,12}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{1,15},{11,12}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>14 16 3 16 3 4 14 4</string>
                <key>verticesUV</key>
                <string>12 27 1 27 1 15 12 15</string>
            </dict>
            <key>tiny_zombie_run_anim_f3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0.5,-2.5}</string>
                <key>spriteSize</key>
                <string>{11,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{29,1},{11,11}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>14 16 3 16 3 5 14 5</string>
                <key>verticesUV</key>
                <string>40 12 29 12 29 1 40 1</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ZomBaby.png</string>
            <key>size</key>
            <string>{54,28}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1be11458df8abb6099b4067a1cc506a6:a1dac1170afba739b4ae199256e5fadb:ce4494340c86778cb8f00205210e5b75$</string>
            <key>textureFileName</key>
            <string>ZomBaby.png</string>
        </dict>
    </dict>
</plist>
