<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>weapon_anime_sword(0)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,30}</string>
                <key>spriteSourceSize</key>
                <string>{12,30}</string>
                <key>textureRect</key>
                <string>{{13,1},{12,30}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 3 4 2 3 0 2 0 1</string>
                <key>vertices</key>
                <string>12 26 9 30 0 30 0 0 12 0</string>
                <key>verticesUV</key>
                <string>25 27 22 31 13 31 13 1 25 1</string>
            </dict>
            <key>weapon_arrow(0)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,21}</string>
                <key>spriteSourceSize</key>
                <string>{7,21}</string>
                <key>textureRect</key>
                <string>{{31,110},{7,21}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>7 21 0 21 0 0 7 0</string>
                <key>verticesUV</key>
                <string>38 131 31 131 31 110 38 110</string>
            </dict>
            <key>weapon_axe(0)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.3,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,21}</string>
                <key>spriteSourceSize</key>
                <string>{9,21}</string>
                <key>textureRect</key>
                <string>{{30,133},{9,21}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>9 21 0 21 0 0 9 0</string>
                <key>verticesUV</key>
                <string>39 154 30 154 30 133 39 133</string>
            </dict>
            <key>weapon_baton_with_spikes(0)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,22}</string>
                <key>spriteSourceSize</key>
                <string>{10,22}</string>
                <key>textureRect</key>
                <string>{{19,109},{10,22}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>10 22 0 22 0 0 10 0</string>
                <key>verticesUV</key>
                <string>29 131 19 131 19 109 29 109</string>
            </dict>
            <key>weapon_big_hammer(0)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,37}</string>
                <key>spriteSourceSize</key>
                <string>{10,37}</string>
                <key>textureRect</key>
                <string>{{1,1},{10,37}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>10 37 0 37 0 0 10 0</string>
                <key>verticesUV</key>
                <string>11 38 1 38 1 1 11 1</string>
            </dict>
            <key>weapon_bow(0)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,25}</string>
                <key>spriteSourceSize</key>
                <string>{7,25}</string>
                <key>textureRect</key>
                <string>{{9,136},{7,25}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 3 4 0 1 2 0 2 3</string>
                <key>vertices</key>
                <string>7 4 7 25 0 25 0 0 5 0</string>
                <key>verticesUV</key>
                <string>16 140 16 161 9 161 9 136 14 136</string>
            </dict>
            <key>weapon_cleaver(0)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.3,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,19}</string>
                <key>spriteSourceSize</key>
                <string>{8,19}</string>
                <key>textureRect</key>
                <string>{{13,179},{8,19}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 3 4 2 3 0 2 0 1</string>
                <key>vertices</key>
                <string>8 15 5 19 0 19 0 0 8 0</string>
                <key>verticesUV</key>
                <string>21 194 18 198 13 198 13 179 21 179</string>
            </dict>
            <key>weapon_duel_sword(0)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.3,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,30}</string>
                <key>spriteSourceSize</key>
                <string>{9,30}</string>
                <key>textureRect</key>
                <string>{{13,33},{9,30}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>9 30 0 30 0 0 9 0</string>
                <key>verticesUV</key>
                <string>22 63 13 63 13 33 22 33</string>
            </dict>
            <key>weapon_golden_sword(0)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,22}</string>
                <key>spriteSourceSize</key>
                <string>{10,22}</string>
                <key>textureRect</key>
                <string>{{23,85},{10,22}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>10 22 0 22 0 0 10 0</string>
                <key>verticesUV</key>
                <string>33 107 23 107 23 85 33 85</string>
            </dict>
            <key>weapon_green_magic_staff(0)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,30}</string>
                <key>spriteSourceSize</key>
                <string>{8,30}</string>
                <key>textureRect</key>
                <string>{{1,104},{8,30}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>8 30 0 30 0 0 8 0</string>
                <key>verticesUV</key>
                <string>9 134 1 134 1 104 9 104</string>
            </dict>
            <key>weapon_hammer(0)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,24}</string>
                <key>spriteSourceSize</key>
                <string>{10,24}</string>
                <key>textureRect</key>
                <string>{{24,59},{10,24}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>10 24 0 24 0 0 10 0</string>
                <key>verticesUV</key>
                <string>34 83 24 83 24 59 34 59</string>
            </dict>
            <key>weapon_katana(0)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,29}</string>
                <key>spriteSourceSize</key>
                <string>{6,29}</string>
                <key>textureRect</key>
                <string>{{11,99},{6,29}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>6 29 0 29 0 0 6 0</string>
                <key>verticesUV</key>
                <string>17 128 11 128 11 99 17 99</string>
            </dict>
            <key>weapon_knife(0)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,13}</string>
                <key>spriteSourceSize</key>
                <string>{6,13}</string>
                <key>textureRect</key>
                <string>{{23,180},{6,13}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>6 13 0 13 0 0 6 0</string>
                <key>verticesUV</key>
                <string>29 193 23 193 23 180 29 180</string>
            </dict>
            <key>weapon_knight_sword(0)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,29}</string>
                <key>spriteSourceSize</key>
                <string>{10,29}</string>
                <key>textureRect</key>
                <string>{{27,1},{10,29}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>10 29 0 29 0 0 10 0</string>
                <key>verticesUV</key>
                <string>37 30 27 30 27 1 37 1</string>
            </dict>
            <key>weapon_lavish_sword(0)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,30}</string>
                <key>spriteSourceSize</key>
                <string>{10,30}</string>
                <key>textureRect</key>
                <string>{{1,40},{10,30}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 3 4 2 3 0 2 0 1</string>
                <key>vertices</key>
                <string>10 22 9 30 0 30 0 0 10 0</string>
                <key>verticesUV</key>
                <string>11 62 10 70 1 70 1 40 11 40</string>
            </dict>
            <key>weapon_mace(0)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,24}</string>
                <key>spriteSourceSize</key>
                <string>{10,24}</string>
                <key>textureRect</key>
                <string>{{24,33},{10,24}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>10 24 0 24 0 0 10 0</string>
                <key>verticesUV</key>
                <string>34 57 24 57 24 33 34 33</string>
            </dict>
            <key>weapon_machete(0)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.4,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,22}</string>
                <key>spriteSourceSize</key>
                <string>{5,22}</string>
                <key>textureRect</key>
                <string>{{30,156},{5,22}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>5 22 0 22 0 0 5 0</string>
                <key>verticesUV</key>
                <string>35 178 30 178 30 156 35 156</string>
            </dict>
            <key>weapon_red_gem_sword(0)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,21}</string>
                <key>spriteSourceSize</key>
                <string>{10,21}</string>
                <key>textureRect</key>
                <string>{{1,168},{10,21}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>10 21 0 21 0 0 10 0</string>
                <key>verticesUV</key>
                <string>11 189 1 189 1 168 11 168</string>
            </dict>
            <key>weapon_red_magic_staff(0)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,30}</string>
                <key>spriteSourceSize</key>
                <string>{8,30}</string>
                <key>textureRect</key>
                <string>{{1,72},{8,30}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>8 30 0 30 0 0 8 0</string>
                <key>verticesUV</key>
                <string>9 102 1 102 1 72 9 72</string>
            </dict>
            <key>weapon_regular_sword(0)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,21}</string>
                <key>spriteSourceSize</key>
                <string>{10,21}</string>
                <key>textureRect</key>
                <string>{{18,156},{10,21}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>10 21 0 21 0 0 10 0</string>
                <key>verticesUV</key>
                <string>28 177 18 177 18 156 28 156</string>
            </dict>
            <key>weapon_rusty_sword(0)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,21}</string>
                <key>spriteSourceSize</key>
                <string>{10,21}</string>
                <key>textureRect</key>
                <string>{{18,133},{10,21}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>10 21 0 21 0 0 10 0</string>
                <key>verticesUV</key>
                <string>28 154 18 154 18 133 28 133</string>
            </dict>
            <key>weapon_saw_sword(0)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,25}</string>
                <key>spriteSourceSize</key>
                <string>{10,25}</string>
                <key>textureRect</key>
                <string>{{11,72},{10,25}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>10 25 0 25 0 0 10 0</string>
                <key>verticesUV</key>
                <string>21 97 11 97 11 72 21 72</string>
            </dict>
            <key>weapon_spear(0)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,30}</string>
                <key>spriteSourceSize</key>
                <string>{6,30}</string>
                <key>textureRect</key>
                <string>{{1,136},{6,30}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>6 30 0 30 0 0 6 0</string>
                <key>verticesUV</key>
                <string>7 166 1 166 1 136 7 136</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>base_weapon.png</string>
            <key>size</key>
            <string>{40,199}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb6cc88408ace10a1c94f55619c0f5f7:f96a70312641d8ff29b1c17122cee2d3:00e7f247cc0bc0ac851f658237372322$</string>
            <key>textureFileName</key>
            <string>base_weapon.png</string>
        </dict>
    </dict>
</plist>
