<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>orc_magic(0)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{1,1},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>13 13 3 13 3 3 13 3</string>
                <key>verticesUV</key>
                <string>11 11 1 11 1 1 11 1</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>OrcMagic.png</string>
            <key>size</key>
            <string>{12,12}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9f3e72fa37e40a18962ac745ec700a6:905c1ace3b327518ee4a19c84c7b58bd:655b8826cc0451b8aa8b11dcbec59225$</string>
            <key>textureFileName</key>
            <string>OrcMagic.png</string>
        </dict>
    </dict>
</plist>
