<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swordslash(0)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11.5}</string>
                <key>spriteSize</key>
                <string>{58,35}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{121,1},{58,35}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>58 35 0 35 0 0 58 0</string>
                <key>verticesUV</key>
                <string>179 36 121 36 121 1 179 1</string>
            </dict>
            <key>swordslash(1)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11.5}</string>
                <key>spriteSize</key>
                <string>{58,35}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{61,1},{58,35}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>58 35 0 35 0 0 58 0</string>
                <key>verticesUV</key>
                <string>119 36 61 36 61 1 119 1</string>
            </dict>
            <key>swordslash(2)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11.5}</string>
                <key>spriteSize</key>
                <string>{58,35}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{1,1},{58,35}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>58 35 0 35 0 0 58 0</string>
                <key>verticesUV</key>
                <string>59 36 1 36 1 1 59 1</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>swordslash.png</string>
            <key>size</key>
            <string>{180,37}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58cd879bd1694264eb1fab440441507c:4dd7dd3d9894cece45ca1409fc445d2c:03a9e2670827828d10e2ca96e0959e94$</string>
            <key>textureFileName</key>
            <string>swordslash.png</string>
        </dict>
    </dict>
</plist>
