<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sword_slash(0)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,0}</string>
                <key>spriteSize</key>
                <string>{30,12}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{229,1},{30,12}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>30 43 0 43 0 31 30 31</string>
                <key>verticesUV</key>
                <string>259 13 229 13 229 1 259 1</string>
            </dict>
            <key>sword_slash(1)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12.5}</string>
                <key>spriteSize</key>
                <string>{74,49}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{153,1},{74,49}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 2 4 5 0 2 5 0 1 2</string>
                <key>vertices</key>
                <string>74 41 42 45 31 15 0 49 0 0 74 0</string>
                <key>verticesUV</key>
                <string>227 42 195 46 184 16 153 50 153 1 227 1</string>
            </dict>
            <key>sword_slash(2)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12.5}</string>
                <key>spriteSize</key>
                <string>{74,49}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{77,1},{74,49}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 2 4 5 0 2 5 0 1 2</string>
                <key>vertices</key>
                <string>74 41 42 45 31 15 0 49 0 0 74 0</string>
                <key>verticesUV</key>
                <string>151 42 119 46 108 16 77 50 77 1 151 1</string>
            </dict>
            <key>sword_slash(3)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12.5}</string>
                <key>spriteSize</key>
                <string>{74,49}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{1,1},{74,49}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 2 4 5 0 2 5 0 1 2</string>
                <key>vertices</key>
                <string>74 41 42 45 31 15 0 49 0 0 74 0</string>
                <key>verticesUV</key>
                <string>75 42 43 46 32 16 1 50 1 1 75 1</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SwordSlash.png</string>
            <key>size</key>
            <string>{260,51}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a3497171ba0581d730b30e4803483a0:0981e28e9333d0448a2d09a65bd60bcc:ca0762ee09c3c02b0d16fbbc6c09e624$</string>
            <key>textureFileName</key>
            <string>SwordSlash.png</string>
        </dict>
    </dict>
</plist>
