<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sword_slash(0)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,12.5}</string>
                <key>spriteSize</key>
                <string>{58,33}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{1,71},{58,33}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 1 2 4 0 1 4</string>
                <key>vertices</key>
                <string>58 10 58 33 0 33 0 0 41 0</string>
                <key>verticesUV</key>
                <string>59 81 59 104 1 104 1 71 42 71</string>
            </dict>
            <key>sword_slash(1)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,12.5}</string>
                <key>spriteSize</key>
                <string>{58,33}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{1,36},{58,33}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 1 2 4 0 1 4</string>
                <key>vertices</key>
                <string>58 10 58 33 0 33 0 0 41 0</string>
                <key>verticesUV</key>
                <string>59 46 59 69 1 69 1 36 42 36</string>
            </dict>
            <key>sword_slash(2)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,12.5}</string>
                <key>spriteSize</key>
                <string>{58,33}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{1,1},{58,33}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 1 2 4 0 1 4</string>
                <key>vertices</key>
                <string>58 10 58 33 0 33 0 0 41 0</string>
                <key>verticesUV</key>
                <string>59 11 59 34 1 34 1 1 42 1</string>
            </dict>
            <key>sword_slash(3)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,12.5}</string>
                <key>spriteSize</key>
                <string>{58,33}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{1,1},{58,33}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 1 2 4 0 1 4</string>
                <key>vertices</key>
                <string>58 10 58 33 0 33 0 0 41 0</string>
                <key>verticesUV</key>
                <string>59 11 59 34 1 34 1 1 42 1</string>
            </dict>
            <key>sword_slash(4)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,12.5}</string>
                <key>spriteSize</key>
                <string>{58,33}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{1,71},{58,33}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 1 2 4 0 1 4</string>
                <key>vertices</key>
                <string>58 10 58 33 0 33 0 0 41 0</string>
                <key>verticesUV</key>
                <string>59 81 59 104 1 104 1 71 42 71</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SwordSlash.png</string>
            <key>size</key>
            <string>{60,105}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2c54990559c844d009d781aa5e42de0:a9ebdc3a86a5fad5d6557bdb24489bee:ca0762ee09c3c02b0d16fbbc6c09e624$</string>
            <key>textureFileName</key>
            <string>SwordSlash.png</string>
        </dict>
    </dict>
</plist>
