<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skeleton_idle(0)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{12,15}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{29,1},{12,15}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>14 16 2 16 2 1 14 1</string>
                <key>verticesUV</key>
                <string>41 16 29 16 29 1 41 1</string>
            </dict>
            <key>skeleton_idle(1)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1.5}</string>
                <key>spriteSize</key>
                <string>{12,13}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{29,18},{12,13}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>14 16 2 16 2 3 14 3</string>
                <key>verticesUV</key>
                <string>41 31 29 31 29 18 41 18</string>
            </dict>
            <key>skeleton_idle(2)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{43,17},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>14 16 2 16 2 4 14 4</string>
                <key>verticesUV</key>
                <string>55 29 43 29 43 17 55 17</string>
            </dict>
            <key>skeleton_idle(3)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{12,14}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{43,1},{12,14}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>14 16 2 16 2 2 14 2</string>
                <key>verticesUV</key>
                <string>55 15 43 15 43 1 55 1</string>
            </dict>
            <key>skeleton_run(0)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{15,1},{12,16}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>14 16 2 16 2 0 14 0</string>
                <key>verticesUV</key>
                <string>27 17 15 17 15 1 27 1</string>
            </dict>
            <key>skeleton_run(1)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{12,14}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{15,19},{12,14}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>14 14 2 14 2 0 14 0</string>
                <key>verticesUV</key>
                <string>27 33 15 33 15 19 27 19</string>
            </dict>
            <key>skeleton_run(2)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{1,1},{12,16}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>14 16 2 16 2 0 14 0</string>
                <key>verticesUV</key>
                <string>13 17 1 17 1 1 13 1</string>
            </dict>
            <key>skeleton_run(3)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{12,15}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{1,19},{12,15}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>14 16 2 16 2 1 14 1</string>
                <key>verticesUV</key>
                <string>13 34 1 34 1 19 13 19</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Skeleton.png</string>
            <key>size</key>
            <string>{56,35}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25db48572c461d9b0799ec980f9b9070:cff5c9ab6d7c7bacfeba1539897b65a3:ce2e4bf3ac52445ac8403f911e85bd80$</string>
            <key>textureFileName</key>
            <string>Skeleton.png</string>
        </dict>
    </dict>
</plist>
